.container {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 20px;
}

.card-header  {
  height:35px;
}

@font-face {font-family: "NotoEmoji"; src: url("//db.onlinewebfonts.com/t/7e95ad5934d900bc13b364eb5f1fe318.eot"); src: url("//db.onlinewebfonts.com/t/7e95ad5934d900bc13b364eb5f1fe318.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7e95ad5934d900bc13b364eb5f1fe318.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7e95ad5934d900bc13b364eb5f1fe318.woff") format("woff"), url("//db.onlinewebfonts.com/t/7e95ad5934d900bc13b364eb5f1fe318.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7e95ad5934d900bc13b364eb5f1fe318.svg#Noto Emoji") format("svg"); }

.emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "JoyPixels", "Noto Color Emoji", "NotoEmoji", "Emojione", "Twemoji", "Symbola";
  font-weight: bold;
  cursor: pointer;
}
.input-group-append {
    border: 1px solid #007bff;
    border-radius: 5px;
  }
